PLD_Agile_H4202/src/Modele/validateurLivraisons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="demandeDeLivraisons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entrepot">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:long" name="adresse"/>
                                <xs:attribute type="xs:string" name="heureDepart"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="livraison" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:long" name="adresse" use="optional"/>
                                <xs:attribute type="xs:string" name="debutPlage" use="optional"/>
                                <xs:attribute type="xs:short" name="duree" use="optional"/>
                                <xs:attribute type="xs:string" name="finPlage" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
